.button{
    background: var(--purple);
    border: 2px solid var(--purple);
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--white);
    padding: 13px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1.25px;
    text-align: center;
    text-decoration: none;
}

.button-secundary{
    background: unset;
    border: 2px solid var(--purple);
    color: var(--purple);
    padding: 13px;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1.25px;
    text-align: center;
    text-decoration: none;
}